<div class= "message_placeholder"></div>
<div class="row">
    <br/>
    <div class="col-xs-2 selectContainer" style="padding-left: 5%">
        <select class="form-control" data-bind='options: [10, 20], value: warehousesPerPage'> </select>
    </div>
    <div class="col-sm-offset-9">
        <button type="button" class="btn btn-success" title="Add warehouse" data-toggle="modal" data-target="#warehouseModal">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
        <button type="button" class="btn btn-info" title="Edit warehouse" data-bind="click: editWarehouse">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
        <button type="button" class="btn btn-danger" title="Delete warehouse" data-bind="click: deleteWarehouse">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </div>
</div>

<div id="warehouses" class="row" style="padding-left: 3%">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input class="selectAll" type="checkbox" data-bind="checked: allChecked" id="selectAllCheckbox">
                </th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
                <th>House</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: warehouses">
            <tr>
                <td>
                    <input class="idCheck" type="checkbox"
                           data-bind="checked: $parent.checkedWarehouses, attr: { value: id}"/></td>
                </td>
                <td class="link" data-bind="text: name"></td>
                <td data-bind="text: address.country"></td>
                <td data-bind="text: address.city"></td>
                <td data-bind="text: address.street"></td>
                <td data-bind="text: address.house"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="warehouseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: closeDialog">&times;</button>
                <h4 class="modal-title">Warehouse's fields</h4>
            </div>
            <form id="warehouseForm" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">

                        <label class="control-label col-sm-4" for="name">Warehouse's name*:</label>
                        <div class="col-sm-7">
                            <input  type="text" id="name" maxlength="30"
                                    placeholder="Name of warehouse" class="form-control"
                                    data-bind="value: warehouseName" required >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="country">Country:</label>
                        <div class="col-sm-7">
                            <input type="text" id="country" maxlength="30"
                                   placeholder="Country" class="form-control" data-bind="value: country">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="city">City:</label>
                        <div class="col-sm-7">
                            <input type="text" id="city" maxlength="30"
                                   placeholder="City" class="form-control" data-bind="value: city">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="street">Street:</label>
                        <div class="col-sm-7">
                            <input type="text" id="street"  maxlength="30"
                                   placeholder="Street" class="form-control" data-bind="value: street">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="house">House:</label>
                        <div class="col-sm-7">
                            <input type="text" id="house" maxlength="5"
                                   placeholder="House" class="form-control" data-bind="value: house">
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: saveWarehouse">Save</button>
                <button type="button" class="btn btn-default" data-bind="click: closeDialog">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pager">
            <li id="previousPage" data-bind="css: { disabled: hasPreviousPage() == false}, click: previousPage"><a>Previous</a></li>
            <li id="nextPage" data-bind="css: { disabled: hasNextPage() == false}, click: nextPage"><a>Next</a></li>
        </ul>
    </div>
</div>

