<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a role="button" class="navbar-brand" data-bind="click: mainPage">Cargo Traffic</a>
        </div>
        <div>
            <!-- ko if: $root.roles().length !==0  -->
            <!-- ko foreach: $root.roles() -->
            <!-- ko if: name == "SYS_ADMIN"  -->
            <ul class="nav navbar-nav">
                <li><a href="clients">Clients</a></li>
            </ul>
            <!-- /ko -->
            <!-- ko if: name == "ADMIN"  -->
            <ul class="nav navbar-nav">
                <li><a href="employees">Employees</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="vehicles">Vehicles</a></li>
            </ul>
            <!-- /ko -->
            <!-- ko if: name == "DISPATCHER"  -->
            <ul class="nav navbar-nav">
                <li><a href="warehouses">Warehouses</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="ttn">Create TTN</a></li>
            </ul>
            <!-- /ko -->
            <!-- ko if: name == "MANAGER"  -->
            <ul class="nav navbar-nav">
                <li><a href="filledTTNs">Filled TTNs</a></li>
            </ul>
            <!-- /ko -->
            <!-- /ko -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a role="button" data-bind="click: showAccountModal">Change account</a></li>
                        <li><a role="button" data-bind="click: showPasswordModal">Change password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a role="button" data-bind="click: logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /ko -->
        </div>
    </div>
    <div id="bar"></div>
</header>

<div id="passwordModal" class="modal fade" role="dialog" data-bind="with: passwordViewModal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="old-password">Old password*:</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" id="old-password"
                               data-bind="value : oldPassword"
                               maxlength="40" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="password">New password*:</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" id="password"
                               data-bind="value : newPassword"
                               maxlength="40" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="confirm-password">Confirm new password*:</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" id="confirm-password"
                               data-bind="value : confirmPassword"
                               maxlength="40" required>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: updatePassword" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<div id="accountModal" class="modal fade" role="dialog" data-bind="with: accountViewModal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="username">Username*:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="username"
                               data-bind="value : account().username"
                               placeholder="Enter username" maxlength="40" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="name">Name:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="name" name="name"
                               data-bind="value : account().name"
                               placeholder="Enter first name" maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="surname">Surname*:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="surname" name="surname"
                               data-bind="value : account().surname"
                               placeholder="Enter surname" maxlength="40" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="patronymic">Patronymic:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="patronymic"
                               data-bind="value : account().patronymic"
                               placeholder="Enter patronymic" maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="birthDate">Date of
                        birth:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="birthDate"
                               data-bind="value : account().birthday"
                               placeholder="Enter date of birth yyyy-mm-dd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="email">Email*:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="email"
                               data-bind="value : account().email"
                               placeholder="Enter email" maxlength="40" required>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label col-md-3" for="country">Country:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="country"
                               data-bind="value : account().country"
                               placeholder="Enter city" maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="city">City:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="city"
                               data-bind="value : account().city"
                               placeholder="Enter city" maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="street">Street:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="street"
                               data-bind="value : account().street"
                               placeholder="Enter street" maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="house">House:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="house"
                               data-bind="value : account().house"
                               placeholder="Enter street" maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="flat">Flat:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="flat"
                               data-bind="value : account().flat"
                               placeholder="Enter zip" maxlength="40">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: updateAccount" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>